so for starts ima hide all the files to hide my code but this is front end only im only using this so
- it can show that i use all this .extenstions like .py .css .c++ and all that shi
and if yall want message me on discord by, qrcode1, youngdemon19x and if i get enough requests to show all of it i will
index.html
idk.c++
hopeyougetbetter.staysafe
app.py
README.md
